$mainBlue: #036ca5;
$mainBlack: rgb(24, 24, 24);
$mainGrey: rgb(179, 179, 179);

.devlog {
  min-height: 100vh;

  .main-thumb {
    min-height: 10rem;
    background-image: url('../../public/img/devlog.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .main {
    background-image: white;
    padding: 1em;
    .content {
      float: left;
    }
    aside {
      float: right;
      max-width: 400px;

      hr {
        border: 2px solid $mainBlack;
      }
    } 
  }

  #devlog-container {
    .devlog-item {
      border-bottom: 1px solid $mainGrey;
      padding: .5em 0;
      cursor: pointer;
      user-select: none;
    }
    .devlog-item:hover {
      .title {
        color: $mainBlue;
      }
    }
  }
}