$mainBlue: #036ca5;
$mainBlack: rgb(24, 24, 24);
$mainGrey: rgb(179, 179, 179);

.landing {
  #combat-img {
    z-index: -1;
    background-image: url('../../public/img/combat.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 42rem;
    width: 100%;
    
    position: absolute;
  }

  .container {
    background: white;
    z-index: 30;
    margin-top: 75vh;
    min-height: 90vh;

    aside {
      float: left;
      width: 30%;

      padding: 1em;
      color: $mainGrey;
      font-weight: lighter;
      line-height: 2rem;
    }
    .content {
      width: 65%;
      height: 100%;
      float: right;

      text-align: right;
      padding: 1em;
    }
  }
}